/**

* @name Klein Moretti - The Fool
* @author Zam
* @version 1.0.0
* @description Lord of Mysteries inspired Discord theme featuring Klein Moretti and Amon.
* @source https://github.com/moqari/klein-morreti-discord-theme
*
* Artwork: mrthersh
* Inspired by Lord of Mysteries
* Based on Kurumi Theme framework by Solta
  */

@import url("https://so1ta.github.io/css/kurumi-base.css");

:root {
--background: url("https://raw.githubusercontent.com/moqari/klein-morreti-discord-theme/main/theme.jpg");

--font: "Inter";

--transparencyalpha: 0.75;
--transparencycolor: 0,0,0;

--messagetransparency: 0;
--guildchanneltransparency: 0;
--chatinputtransparency: 0;
--memberlisttransparency: 0.3;

--accentcolor: 155,0,31,0.8;
}

.theme-dark {
--text-normal: #f5f5f5;
--text-muted: #b5b5b5;

--header-primary: #ffffff;
--channels-default: #c4002b;
--header-secondary: #d4d4d4;

--interactive-normal: #d6d6d6;
--interactive-hover: #ffffff;
--interactive-active: #ffffff;

--background-modifier-accent: rgba(155, 0, 31, 0.25);
}
